$primary: #00235A;
$secondary: #FF5E14;
$white: #FFF;
$gray: #DDD;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    list-style: none;
}

html{
    font-size: 10px;
}

/*#region Header Codes*/

header{

}

/*#endregion*/


/*#region Main Codes*/

main{

}

/*#endregion*/


/*#region Footer Codes*/

footer{
    
}

/*#endregion*/


/*#region Responsive Codes*/


/*#endregion*/